@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

* {
  margin: 0px;
  padding: 0px;
}
.container {
  height: 95dvh;
}
body {
  background: $second-bg-color;
}
.navbar {
  background: rgb(0, 4, 46, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 80px;
  .nav-link {
    color: $white-text;
  }
  .nav-link.active {
    color: $primary-color !important;
  }
}

.home {
  background-color: $second-bg-color;
  color: $white-text;

  .profile_image {
    height: 200px;
  }

  .job-title {
    color: $primary-color;
  }

  .know-me {
    font-family: "Roboto thin", sans-serif;
    font-size: 20px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

.skills,
.education,
.projects,
.contact {
  background-color: $third-bg-color;
  color: $white-text;

  .skills-title,
  .education-title,
  .project-title,
  .contact-title {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.section-title {
  width: 14%;
  border-bottom: 3px solid $primary-color;
}

.card {
  background-color: $second-bg-color;
  color: $white-text;
}

.courses {
  width: 500px;
}
